<a href="https://colab.research.google.com/github/kdzioba/pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Object creation

In [2]:
s=pd.Series(["Ala","Ma","kota",12])
s

0     Ala
1      Ma
2    kota
3      12
dtype: object

In [4]:
dates=pd.date_range('20200101',periods=12,freq='M')
dates

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

In [32]:
df=pd.DataFrame(np.random.randn(12,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-01-31  1.501713 -0.781487  0.947882  1.082399
2020-02-29 -1.273369 -2.439252 -0.925584 -0.091303
2020-03-31  2.159524  0.767390  0.014389 -1.300493
2020-04-30 -0.430314  0.914548 -1.194965 -0.936868
2020-05-31 -0.418050  1.768821  0.069661 -2.178173
2020-06-30 -1.293833 -0.615801  1.091677  2.179843
2020-07-31  0.214000 -0.567785 -0.420441 -0.065188
2020-08-31  1.273310  0.039868 -0.226506 -0.448939
2020-09-30 -0.108350 -0.067305 -0.459580  1.160371
2020-10-31 -0.289813 -0.456289 -0.814745 -1.303892
2020-11-30  0.670041  1.400503 -0.878904 -1.278859
2020-12-31 -0.266083 -0.284017 -0.870170  1.101112

In [8]:
df.head()

                   A         B         C         D
2020-01-31 -0.381346 -1.480114 -2.465790  0.579876
2020-02-29  0.984011 -0.207332  0.234548 -1.513409
2020-03-31 -1.139466  0.243855 -0.087969 -1.456712
2020-04-30  0.523104 -0.052455 -0.097392 -0.232860
2020-05-31  0.234196  0.341064  0.725596 -0.544574

In [9]:
df.tail()

                   A         B         C         D
2020-08-31  0.173880  0.332635  0.261341  0.234050
2020-09-30  0.664132  2.209900  0.473242 -0.213039
2020-10-31 -1.176391  1.407505  0.810733  0.583791
2020-11-30  0.477221 -1.128357  0.156147  0.711740
2020-12-31  0.547373  0.075161 -2.409154 -1.869544

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df.index

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

In [14]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A   12.0 -0.042208  0.831316 -1.573097 -0.570876  0.204038  0.529171  0.984011
B   12.0 -0.065526  1.127573 -1.559766 -1.008395  0.011353  0.334742  2.209900
C   12.0 -0.352201  1.154497 -2.465790 -0.556261  0.034089  0.314316  0.810733
D   12.0 -0.314386  1.110856 -1.869544 -1.470886 -0.222950  0.580854  1.589035

Sortowanie

In [17]:
#sortowanie 0 po wierszach, 1 po kolumnach
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2020-12-31  0.547373  0.075161 -2.409154 -1.869544
2020-11-30  0.477221 -1.128357  0.156147  0.711740
2020-10-31 -1.176391  1.407505  0.810733  0.583791
2020-09-30  0.664132  2.209900  0.473242 -0.213039
2020-08-31  0.173880  0.332635  0.261341  0.234050
2020-07-31  0.159889 -0.968408 -0.198666  1.589035
2020-06-30 -1.573097 -1.559766 -1.629045 -1.640987
2020-05-31  0.234196  0.341064  0.725596 -0.544574
2020-04-30  0.523104 -0.052455 -0.097392 -0.232860
2020-03-31 -1.139466  0.243855 -0.087969 -1.456712
2020-02-29  0.984011 -0.207332  0.234548 -1.513409
2020-01-31 -0.381346 -1.480114 -2.465790  0.579876

In [18]:
df.sort_values(by='D',ascending=False)

                   A         B         C         D
2020-07-31  0.159889 -0.968408 -0.198666  1.589035
2020-11-30  0.477221 -1.128357  0.156147  0.711740
2020-10-31 -1.176391  1.407505  0.810733  0.583791
2020-01-31 -0.381346 -1.480114 -2.465790  0.579876
2020-08-31  0.173880  0.332635  0.261341  0.234050
2020-09-30  0.664132  2.209900  0.473242 -0.213039
2020-04-30  0.523104 -0.052455 -0.097392 -0.232860
2020-05-31  0.234196  0.341064  0.725596 -0.544574
2020-03-31 -1.139466  0.243855 -0.087969 -1.456712
2020-02-29  0.984011 -0.207332  0.234548 -1.513409
2020-06-30 -1.573097 -1.559766 -1.629045 -1.640987
2020-12-31  0.547373  0.075161 -2.409154 -1.869544

# Selections

get values

In [19]:
df['A']

2020-01-31   -0.381346
2020-02-29    0.984011
2020-03-31   -1.139466
2020-04-30    0.523104
2020-05-31    0.234196
2020-06-30   -1.573097
2020-07-31    0.159889
2020-08-31    0.173880
2020-09-30    0.664132
2020-10-31   -1.176391
2020-11-30    0.477221
2020-12-31    0.547373
Freq: M, Name: A, dtype: float64

In [21]:
df[1:3]

                   A         B         C         D
2020-02-29  0.984011 -0.207332  0.234548 -1.513409
2020-03-31 -1.139466  0.243855 -0.087969 -1.456712

by label

In [26]:
df.loc['20200630':'20200930',['A','C']]

                   A         C
2020-06-30 -1.573097 -1.629045
2020-07-31  0.159889 -0.198666
2020-08-31  0.173880  0.261341
2020-09-30  0.664132  0.473242

Selection by position

In [27]:
df.iloc[3]

A    0.523104
B   -0.052455
C   -0.097392
D   -0.232860
Name: 2020-04-30 00:00:00, dtype: float64

In [29]:
df.iloc[:,1:3]

                   B         C
2020-01-31 -1.480114 -2.465790
2020-02-29 -0.207332  0.234548
2020-03-31  0.243855 -0.087969
2020-04-30 -0.052455 -0.097392
2020-05-31  0.341064  0.725596
2020-06-30 -1.559766 -1.629045
2020-07-31 -0.968408 -0.198666
2020-08-31  0.332635  0.261341
2020-09-30  2.209900  0.473242
2020-10-31  1.407505  0.810733
2020-11-30 -1.128357  0.156147
2020-12-31  0.075161 -2.409154

# Setting

Setting by label

In [42]:
df.at[dates[0],'B']=0
df[0:1]

                   A    B    C         D
2020-01-31  1.501713  0.0 -1.0  1.082399

Setting by position

In [44]:
df.iat[0,2]=-1
df[0:1]

                   A    B    C         D
2020-01-31  1.501713  0.0 -1.0  1.082399

In [46]:
df.loc[1:3,'D']=0
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  """Entry point for launching an IPython kernel.

                   A         B         C         D
2020-01-31  1.501713  0.000000 -1.000000  1.082399
2020-02-29 -1.273369 -2.439252 -0.925584  0.000000
2020-03-31  2.159524  0.767390  0.014389  0.000000
2020-04-30 -0.430314  0.914548 -1.194965 -0.936868
2020-05-31 -0.418050  1.768821  0.069661 -2.178173
2020-06-30 -1.293833 -0.615801  1.091677  2.179843
2020-07-31  0.214000 -0.567785 -0.420441 -0.065188
2020-08-31  1.273310  0.039868 -0.226506 -0.448939
2020-09-30 -0.108350 -0.067305 -0.459580  1.160371
2020-10-31 -0.289813 -0.456289 -0.814745 -1.303892
2020-11-30  0.670041  1.400503 -0.878904 -1.278859
2020-12-31 -0.266083 -0.284017 -0.870170  1.101112

by where

In [47]:
df[df>1]=df-1

In [48]:
df

                   A         B         C         D
2020-01-31  0.501713  0.000000 -1.000000  0.082399
2020-02-29 -1.273369 -2.439252 -0.925584  0.000000
2020-03-31  1.159524  0.767390  0.014389  0.000000
2020-04-30 -0.430314  0.914548 -1.194965 -0.936868
2020-05-31 -0.418050  0.768821  0.069661 -2.178173
2020-06-30 -1.293833 -0.615801  0.091677  1.179843
2020-07-31  0.214000 -0.567785 -0.420441 -0.065188
2020-08-31  0.273310  0.039868 -0.226506 -0.448939
2020-09-30 -0.108350 -0.067305 -0.459580  0.160371
2020-10-31 -0.289813 -0.456289 -0.814745 -1.303892
2020-11-30  0.670041  0.400503 -0.878904 -1.278859
2020-12-31 -0.266083 -0.284017 -0.870170  0.101112